
<p-menubar id="menu" [model]="items">
    <ng-template pTemplate="start">
        <a href="/home">
            <img class="menubar-logo" src="./assets/devCreaLogo/full/devcrea_logo_full_white.png">
        </a>

    </ng-template>
    <ng-template pTemplate="end">
        <a href="https://discord.com"><span class="pi pi-discord discord-icon icon"></span></a>
        <a href="https://www.linkedin.com/in/stevengarnier/"><span class="pi pi-linkedin linkedin-icon icon"></span></a>
        <a href="https://github.com/DevCreaSteven"><span class="pi pi-github github-icon icon"></span></a>
    </ng-template>
</p-menubar>
<router-outlet></router-outlet>